/* Estructura general de la página */
.perfil-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 80px;
  background-color: #fff; /* Fondo blanco */
}

/* Contenedor principal de perfil */
.perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.perfil-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
  /* background-color: #f0f0f0; */
  padding: 20px;
  /* border: 1px solid #ddd; */
  width: 70%;
}

/* Contenedor de la imagen de perfil */
.profile-picture-container {
  width: 300px; /* Ancho fijo del contenedor */
  height: 300px; /* Altura fija del contenedor */
  overflow: hidden; /* Oculta el exceso de imagen */
  border-radius: 50%; /* Hace que la imagen sea circular */
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: 100%; /* La imagen ocupará toda la altura del contenedor */
  object-fit: cover; /* La imagen se recortará y ajustará para cubrir el contenedor */
}

/* Información del perfil */
.profile-info {
  text-align: left;
  color: #333; /* Texto oscuro */
}

.user-name {
  font-size: 24px;
  font-weight: bold;
}

.user-description {
  font-size: 16px;
  margin: 10px 0;
}

.edit-description {
  background-color: #e0e0e0; /* Fondo gris claro */
  color: #333; /* Texto oscuro */
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
  
}

.logout-button {
  margin-top: 20px;
  background-color: #e0e0e0; /* Fondo gris claro */
  color: #333; /* Texto oscuro */
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

/*hover fachero*/
/* Efecto hover en el nombre del usuario */
.user-name {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.user-name::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.user-name:hover::before {
  transform: scaleX(1);
}
/* .jobs li:hover{
  background-color: #2196F3;
} */


/*Grid para acomodar el nav, main y footer*/
.containerProyect {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Navbar, Main y Footer */
  min-height: 100dvh; /* Asegura que el contenedor ocupe el 100% del viewport */
}

.main {
  min-height: 90dvh; /* Ocupa el 100% de la altura de la ventana */
  overflow-y: auto; /* Habilita el scroll si el contenido es demasiado grande */
}

.upload-button {
  position: absolute;
  top: 480px;
  left: 480px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #7f9bfd;
  color: white;
  display: block;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  font-size: 1.5em;
  line-height: 1.1em;
}