.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    width: 400px;
  }
  
  .close-buttonPopup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
  }
  
  .close-buttonPopup:hover {
    color: red;
  }
  
  .color-selector {
    margin: 20px 0;
    text-align: center;
  }
  
  .color-options {
    display: flex;
    justify-content: center;
  }
  
  .color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    border: 3px solid rgb(155, 155, 155);
    transition: border-color 0.3s;
  }
  
  .color-circle:hover {
    border: 2px solid rgb(0, 0, 0);
  }
  