/* Navbar */
.navbar-proy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Fondo blanco */
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .site-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333; /* Color gris oscuro */
  }
  
  .navbar-actions {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 10px;
    border: 2px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
    margin-right: 15px;
    width: 200px; /* Tamaño del campo de búsqueda */
    transition: border-color 0.3s; /* Transición suave para el borde */
  }
  
  .search-input:focus {
    border-color: #888; /* Borde gris medio al enfocar */
    outline: none; /* Eliminar el borde de enfoque predeterminado */
  }
  
  .add-button,
  .delete-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px; /* Espacio entre botones */
  }
  
  .add-button {
    background-color: #e0e0e0; /* Gris claro para agregar */
    color: #333; /* Color del texto gris oscuro */
  }
  
  .add-button:hover {
    background-color: #bdbdbd; /* Gris medio al pasar el mouse */
  }
  
  .delete-button {
    background-color: #cccccc; /* Fondo gris claro para eliminar */
    color: #333; /* Color del texto gris oscuro */
  }
  
  .delete-button:hover {
    background-color: #aaaaaa; /* Fondo gris medio al pasar el mouse */
  }
  