.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative; /* Permite que los elementos hijos se posicionen de forma absoluta */
  width: 400px; /* Ajusta el ancho del popup según tus necesidades */
}

.close-buttonPopup {
  position: absolute; /* Posicionamiento absoluto para situar la X en la esquina */
  top: 10px; /* Distancia desde la parte superior */
  right: 10px; /* Distancia desde la derecha */
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  font-size: 2rem; /* Ajusta el tamaño de la X */
  cursor: pointer; /* Cambia el cursor a pointer */
  color: #333; /* Color de la X */
}

.close-buttonPopup:hover {
  color: red; /* Cambia el color al pasar el mouse */
}

.color-selector {
  margin: 20px 0;
  text-align: center;
}

.color-options {
  display: flex;
  justify-content: center;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  border: 2px solid transparent; /* Sin borde por defecto */
  transition: border-color 0.3s; /* Suaviza el cambio de color del borde */
  border: 3px solid rgb(155, 155, 155);
}

.color-circle :hover {
  border: 2px solid rgb(0, 0, 0); /* Bordes en gris claro al hacer hover */
}
