.listaTarjetas {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  margin: 20px 0; 
}

.ContainerTarjetas {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px; 
  margin: 10px; 
  padding: 15px;
  height: auto;
  min-height: 350px;
  border: 2px solid transparent; /* Borde base transparente */
}

.TituloTarjetas {
  text-align: left; 
  margin-bottom: 10px; 
}

.TituloTarjetas h1 {
  font-size: 1.5rem;
  color: #333;
}

.DescripcionTarjetas {
  flex-grow: 1; 
  padding: 10px 0;
  text-align: left;
  font-size: 1rem;
  color: #666;
  line-height: 1.4;
  width: 100%;
}

.BotonContainer {
  display: flex; 
  justify-content: center; 
  margin-top: auto; 
}

.BotonContainer button {
  padding: 15px 20px; 
  border: none;
  border-radius: 5px;
  background-color: #7f9bfd; /* Color de fondo moderno */
  color: #ffffff; /* Color de texto blanco */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1em; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para un efecto moderno */
}

.BotonContainer button:hover {
  background-color: #6f91ab; 
  transform: translateY(-2px); 
}

.ContainerTarjetas.selected {
  background-color: #bcbebf; 
  border: 2px solid #31303085; 
  box-shadow: 0 4px 12px rgba(89, 92, 92, 0.2); 
}