html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.btn-add {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
}

.inputname{
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 10px;
}

.updatenode__controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  font-size: 12px;
  
}