html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}


.btn-add {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  right: 10px;
}



.inputname{
  position: absolute;
  z-index: 10;
  bottom: 0px;
  left: 0px;
}

.updatenode__controls {
  

  padding: 5px; /* Reduce el padding para hacerlo más pequeño */
  border-top: 1px solid #ececec;
  background: #f8f8f8;
  position: absolute;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Alinea al centro */
  width: 400px; /* Ancho fijo para el panel */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content:space-around;
  border-radius: 15px;
  border: solid black 1px;
  text-align: center;
}

.add-node-button-container {
  position: absolute; /* Posiciona el contenedor absolutamente */
  bottom: 20px; /* Distancia desde la parte inferior */
  right: 20px; /* Distancia desde la derecha */
  z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
}

.btn-add {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #7f9bfd;
  color: white;
  display: block;
  content: "+";
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  font-size: 2.5em;
  line-height: 1.1em;
}

.btn-add:hover {
  background-color: #0056b3; /* Cambia el color al pasar el mouse */
}
.color-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  outline: none;
  transition: opacity 0.3s ease;
}

.color-button:hover {
  opacity: 0.7; 
}

.color-button.red {
  background-color: #FFB3B3;
}

.color-button.blue {
  background-color: #B3C6FF;
}

.color-button.yellow {
  background-color: #FFFFB3;
}

.color-button.gray {
  background-color: #B3B3B3;
}
