.toolbar {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.site-title {
    z-index: 10;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.nav-items ul {
    z-index: 10;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-items li {
    z-index: 10;
    margin: 0 15px;
}
.nav-items a {
    z-index: 10;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.nav-items a:hover {
    z-index: 10;
    border: 2px solid black;
    border-radius: 5px;
}

#checkboxInput {
  display: none;
}
.bookmark {
  cursor: pointer;
  background-color: teal;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.svgIcon path {
  stroke-dasharray: 200 0;
  stroke-dashoffset: 0;
  stroke: white;
  fill: #dddddd00;
  transition-delay: 0s;
  transition-duration: 0.5s;
}

#checkboxInput:checked ~ .svgIcon path {
  fill: white;
  animation: bookmark 0.5s linear;
  transition-delay: 0.5s;
}

@keyframes bookmark {
  0% {
    stroke-dasharray: 0 200;
    stroke-dashoffset: 80;
  }
  100% {
    stroke-dasharray: 200 0;
  }
}