.containerProyect {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Navbar, Main y Footer */
  min-height: 100dvh; /* Asegura que el contenedor ocupe el 100% del viewport */
}

.main {
  min-height: 90dvh; /* Ocupa el 100% de la altura de la ventana */
  overflow-y: auto; /* Habilita el scroll si el contenido es demasiado grande */
}


.listaTarjetas {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
